{% extends 'userapp/base.html' %}
{% block title %}Register{% endblock %}
{% block nav_links %}
    <a href="/home/" class="px-3">Home</a>
    <a href="/logout/" class="btn btn-outline-danger px-4 py-2 ms-3">Logout</a>
{% endblock %}
{% block head2 %} {% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Edit Qualification</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'view_profile_jobseeker' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{%block footer%}{%endblock%}
{% endblock %}
